@import "@/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1b1a16;
  --background-gray: #eaedef;
  --middle-gray: #f2f4f6;
  --space-gray: #f6f6f6;
  --subtext-gray: #666365;
  --blue: #287a9c;
  --white: #ffffff;
  --light-blue: #4a6875;
}

html {
  background-color: var(--background-gray);
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  background-color: var(--background-gray);
}

.main {
  margin-top: 44px;
  margin-left: 22px;
  width: calc(100% - 22px);
  height: calc(100% - 44px);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.router-link-active {
  background: linear-gradient(270deg, #f2f4f6 0%, #ffffff 100%);
}
