@import "@/styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1B1A16;
  --background-gray: #EAEDEF;
  --middle-gray: #F2F4F6;
  --space-gray: #F6F6F6;
  --subtext-gray: #666365;
  --blue: #287A9C;
  --white: #ffffff;
  --light-blue: #4A6875;
}

#app {
  width: 100vw;
  height: 100vh;
  //font-family: 'Noto Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  display: flex;
  background-color: var(--background-gray);
}

.main {
  margin-top: 44px;
  margin-left: 22px;
  width: calc(100% - 22px);
  height: calc(100% - 44px);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.router-link-active {
  background: linear-gradient(270deg, #F2F4F6 0%, #FFFFFF 100%);
}