:root {
  --background-secondary: #f6f5f4;
  --background-tertiary: #eae9e6;
  --text-tertiary: #989281;
  --text-secondary: #656053;
  --information-tertiary: #bdaf7f;
  --success-primary: #048276;
  --black: #000;
  --white: #fff;
}
